name: Build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read
  issues: write

jobs:
  build:
    name: Build and Unit Tests
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 20.x
        cache: 'yarn'

    - name: Install dependencies
      run: yarn install --frozen-lockfile

    - name: Build the app
      run: yarn build

    - name: Run tests
      run: yarn test

  sonarqube:
    name: SonarQube Quality Check
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Install sonarqube-scanner
        run: npm install -g sonarqube-scanner

      - name: Run SonarQube Scan
        run: |
          sonar-scanner \
            -Dsonar.host.url=$SONAR_HOST \
            -Dsonar.token=$SONAR_TOKEN
        env:
          SONAR_HOST: https://sonarcloud.io
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  snyk-sca-analysis:
    name: Snyk SCA Scan
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Snyk Security Scan
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        run: |
          npm install -g snyk
          snyk auth ${{ secrets.SNYK_TOKEN }}
          snyk test --all-projects

  owasp-dast-scan:
    name: OWASP ZAP DAST Scan
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Create Docker network
        run: docker network create zap-net

      - name: Build Docker Image
        run: docker build -t vue-webpack .

      - name: Run Docker Container
        run: |
          docker run -d --name vue-webpack-container --network zap-net -p 7777:80 vue-webpack
          sleep 10

      - name: Run OWASP ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.14.0
        with:
          target: http://vue-webpack-container:80
          docker_name: ghcr.io/zaproxy/zaproxy:stable
          artifact_name: zap_scan
          fail_action: false
          docker_options: --network zap-net
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

      - name: Stop Docker Container
        if: always()
        run: docker stop vue-webpack-container && docker rm vue-webpack-container

  docker:
    name: Docker Build and Push
    runs-on: ubuntu-latest
    needs: [sonarqube, snyk-sca-analysis, owasp-dast-scan]
    env:
      IMAGE_NAME: bonaxl015/vue-template
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set DATE_TAG variable
        run: echo "DATE_TAG=v$(date +%Y-%m-%d)" >> $GITHUB_ENV

      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker image
        run: docker build -t $IMAGE_NAME:$DATE_TAG .

      - name: Push Docker image
        run: docker push $IMAGE_NAME:$DATE_TAG
