name: Build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: write
  issues: write
  security-events: write

jobs:
  build:
    name: Build and Unit Tests
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 20.x
        cache: 'yarn'

    - name: Install dependencies
      run: yarn install --frozen-lockfile

    - name: Build the app
      run: yarn build

    - name: Run tests
      run: yarn test

  sonarqube:
    name: SonarQube Quality Check
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Install sonarqube-scanner
        run: npm install -g sonarqube-scanner

      - name: Run SonarQube Scan
        run: |
          sonar-scanner \
            -Dsonar.host.url=$SONAR_HOST \
            -Dsonar.token=$SONAR_TOKEN
        env:
          SONAR_HOST: https://sonarcloud.io
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  snyk-sca-analysis:
    name: Snyk Full Security Scan
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Snyk SCA Dependency Scan (yarn.lock)
        uses: snyk/actions/node@master
        continue-on-error: true
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: --sarif-file-output=snyk-sca.sarif

      - name: Snyk Code Scan (source code analysis)
        uses: snyk/actions/node@master
        continue-on-error: true
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          command: code test
          args: --sarif-file-output=snyk-code.sarif

      - name: Build Docker image for scan
        run: docker build -t vue-template-app -f Dockerfile .

      - name: Snyk Docker Image Scan
        uses: snyk/actions/docker@master
        continue-on-error: true
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          image: vue-template-app
          args: --file=Dockerfile

      - name: Check if SARIF file exists
        run: |
          echo "Files in current directory:"
          ls -al | grep .sarif

      - name: Upload SCA SARIF to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: snyk-sca.sarif

      - name: Upload Code SARIF to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: snyk-code.sarif

      - name: Upload Docker SARIF to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: snyk.sarif

  owasp-dast-scan:
    name: OWASP ZAP DAST Scan
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Start application locally
        run: yarn start:build:prod & sleep 10

      - name: Run OWASP ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.14.0
        with:
          target: 'http://localhost:80'
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
      
      - name: Stop application locally
        run: yarn stop:build:prod

  version:
    name: Bump Version
    runs-on: ubuntu-latest
    # needs: build
    # if: github.event_name == 'push'
    outputs:
      version: ${{ steps.bump.outputs.version }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          fetch-depth: 0

      - name: Setup git and got to master branch
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git remote set-url origin https://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@github.com/${{ github.repository }}
          git checkout master

      - name: Debug git push permissions
        run: |
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
          git remote -v
          git branch
          git status
          git rev-parse --abbrev-ref HEAD
          git push origin HEAD:master --follow-tags

      - name: Bump patch version
        id: bump
        run: |
          NEW_VERSION=$(npm version patch -m "chore: bump version to %s" | tr -d 'v')
          echo "New version: $NEW_VERSION"
          echo "version=$NEW_VERSION" >> $GITHUB_OUTPUT

      - name: Push version commit and tags
        run: git push origin HEAD:master --follow-tags


  docker:
    name: Docker Build and Push
    runs-on: ubuntu-latest
    needs: [sonarqube, snyk-sca-analysis, owasp-dast-scan]
    if: github.event_name == 'push'
    env:
      IMAGE_NAME: bonaxl015/vue-template
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set VERSION_TAG from version bump
        run: echo "VERSION_TAG=${{ needs.version.outputs.version }}" >> $GITHUB_ENV

      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker image
        run: docker build -t $IMAGE_NAME:v$VERSION_TAG .

      - name: Push Docker image
        run: docker push $IMAGE_NAME:v$VERSION_TAG
