name: Build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read
  issues: write
  security-events: write

jobs:
  build:
    name: Build and Unit Tests
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 20.x
        cache: 'yarn'

    - name: Install dependencies
      run: yarn install --frozen-lockfile

    - name: Build the app
      run: yarn build

    - name: Run tests
      run: yarn test

  sonarqube:
    name: SonarQube Quality Check
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Install sonarqube-scanner
        run: npm install -g sonarqube-scanner

      - name: Run SonarQube Scan
        run: |
          sonar-scanner \
            -Dsonar.host.url=$SONAR_HOST \
            -Dsonar.token=$SONAR_TOKEN
        env:
          SONAR_HOST: https://sonarcloud.io
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  snyk-sca-analysis:
    name: Snyk Full Security Scan
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Snyk SCA Dependency Scan (yarn.lock)
        uses: snyk/actions/node@master
        continue-on-error: true
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: --sarif-file-output=snyk-sca.sarif

      - name: Snyk Code Scan (source code analysis)
        uses: snyk/actions/node@master
        continue-on-error: true
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          command: code test
          args: --sarif-file-output=snyk-code.sarif

      - name: Build Docker image for scan
        run: docker build -t vue-template-app -f Dockerfile .

      - name: Snyk Docker Image Scan
        uses: snyk/actions/docker@master
        continue-on-error: true
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          image: vue-template-app
          args: --file=Dockerfile

      - name: Check if SARIF file exists
        run: |
          echo "Files in current directory:"
          ls -al | grep .sarif

      - name: Upload SCA SARIF to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: snyk-sca.sarif

      - name: Upload Code SARIF to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: snyk-code.sarif

      - name: Upload Docker SARIF to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: snyk.sarif

  owasp-dast-scan:
    name: OWASP ZAP DAST Scan
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Start application locally
        run: yarn start:build:prod & sleep 10

      - name: Run OWASP ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.14.0
        with:
          target: 'http://localhost:80'
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
      
      - name: Stop application locally
        run: yarn stop:build:prod

  docker:
    name: Docker Build and Push
    runs-on: ubuntu-latest
    needs: [sonarqube, snyk-sca-analysis, owasp-dast-scan]
    env:
      IMAGE_NAME: bonaxl015/vue-template
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set DATE_TAG variable
        run: echo "DATE_TAG=v$(date +%Y-%m-%d)" >> $GITHUB_ENV

      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker image
        run: docker build -t $IMAGE_NAME:$DATE_TAG .

      - name: Push Docker image
        run: docker push $IMAGE_NAME:$DATE_TAG
